.next-flex {
  flex-direction: row;
  padding: 1%;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px solid #ccc;
  border-radius: 10px;
  width: 70%;
  max-width: 500px;
  font-family: lato;
  color: #52565e;
  margin-left: 10%;
}


div {
  margin-bottom: 1px;
  padding: 5px;
  width: 100%;
}

:root {
  --arrow-bg: #52565e;
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg:#52565e;
  --select-bg: rgba(255, 255, 255, 0.2);
}
select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 100%;
  padding: 1rem 5rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: #52565e;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 5px;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);  }
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
  padding-left: 3px;
  width: 100%;
  padding-right: 20px;
  max-width: 500px;
  background-color: #f4f4f4;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.box-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* display: inline-block; */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #037ef3;
}